.pleaseWaitContainer{
    height:100%;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content: center;
    background-color: black;
    opacity:0.3;filter:alpha(opacity=30);
    color:white;
    border: 1px solid black;
    border-radius: .5em;
    z-index:44;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  
  .pleaseWaitContainerHide{
    display:none;
  }
  
  .pleaseWaitDisplay{
    height:2em;
    width: 2em;
    border-radius: .5em;
    background-color:transparent;
  }
  
  